svg {
  z-index: 100;
}

.navbar-container {
  height: 100vh;
  width: 100px;
  position: fixed;
  background-color: black;
  color: white;
  z-index: 5;
}

.navbar-container ul {
  list-style-type: none;
}

.navbar-container li {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  position: absolute;
  left: -100px;
  width: 200px;
  background-color: #3c006c;
  height: 90px;
  top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5em;
  display: block;
  visibility: hidden;
  line-height: 90px;
  padding: 0;
  padding-left: 1rem;
  z-index: 20;
  transition: visibility 0s, left 0.5s ease-in-out;
}

.li-container {
  /* position: relative; */
  z-index: 100;
}

.li-container:hover {
  background-color: #3c006c;
}

.li-container:hover .about {
  visibility: visible;
  left: 100px;
}

.projects {
  top: calc(0.5rem + 90px);
}

.contact {
  top: calc(0.5rem + 180px);
}

.linkedin,
.github {
  fill: white;
}

.linkedin:hover,
.github:hover {
  fill: #f1dfff;
}

/* .li-container {
  position: relative;
  z-index: 10;
}

.li-container .about {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  transition: visibility 0s, left 0.5s ease-in-out;
  z-index: 0;
}

.li-container:hover .about {
  visibility: visible;
  left: 100%;
  z-index: 2;
} */
