.container {
  height: 100vh;
  background-color: #dda2cb;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  height: 70vh;
  overflow-y: scroll;
  background-color: #ffb591;
  color: #3c006c;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.form-container form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.form-container form input,
.form-container form textarea {
  background-color: #dda2cb;
}

.lang-section {
  height: 10vh;
  width: 70vw;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Kalam', cursive;
}

.flag-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: min(3%,2rem);
}

.flag-container img {
  height: 60%;
  opacity: 0.7;
}

.flag-container img:hover {
  opacity: 1;
  height: 70%;
}