.container {
  background-color: #f1dfff;
  width: 100vw;
  /* width: calc(100vw - 100px); */
  height: 100vh;
  overflow: hidden;
  margin-left: 100px;
  font-family: 'Kalam', cursive;
  font-weight: 300;
}

.intro-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* pointer-events: none; */
}

.intro-text p {
  width: 60%;
  margin: 0;
  pointer-events: none;
  font-weight: 300;
  font-size: 1.5rem;
}

.intro-text h1 {
  margin: 0;
  pointer-events: none;
  font-weight: 400;
  font-size: 3rem;
}

.intro-text h2 {
  margin: 0;
  pointer-events: none;
  font-weight: 400;
  font-size: 2rem;
}

.intro-text span {
  color: #9e09c4;
}

.intro-text a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.intro-text a:hover {
  cursor: pointer;
  /* opacity: 0.8; */
  color: #9e09c4;
}

.intro-text a:hover svg {
  fill: #9e09c4;
}

.img {
  position: absolute;
  width: 8%;
  max-width: 60px;
  z-index: 1;
  pointer-events: none;
}

.img1 {
  top: 4%;
  left: 25%;
  animation: circle1 30s linear infinite;
}

.img2 {
  top: 22%;
  left: 12%;
  animation: circle2 50s linear infinite;
}

.img3 {
  bottom: 4%;
  right: 10%;
  animation: circle2 30s linear infinite;
}

.img4 {
  bottom: 6%;
  left: 50%;
  animation: circle2 35s linear infinite;
}

.img5 {
  top: 15%;
  right: 8%;
  animation: circle4 25s linear infinite;
}

.img6 {
  top: 10%;
  left: 45%;
  animation: circle3 30s linear infinite;
}

.img8 {
  bottom: 10%;
  left: 17%;
  animation: circle6 30s linear infinite;
}

.img9 {
  top: 10%;
  right: 33%;
  animation: circle2 25s linear infinite;
}

.img10 {
  bottom: 23%;
  right: 27%;
  animation: circle6 40s linear infinite;
}

.img11 {
  top: 50%;
  right: 2%;
  animation: circle3 25s linear infinite;
}

.img12 {
  top: 30%;
  right: 25%;
  animation: circle7 25s linear infinite;
}

.img13 {
  top: 35%;
  right: 48%;
  animation: circle2 40s linear infinite;
}

.img14 {
  top: 27%;
  left: 32%;
  animation: circle3 40s linear infinite;
}

.img15 {
  bottom: 20%;
  left: 13%;
  animation: circle5 30s linear infinite;
}

.img16 {
  bottom: 44%;
  left: 23%;
  animation: circle4 30s linear infinite;
}

.img17 {
  bottom: 24%;
  left: 33%;
  animation: circle2 30s linear infinite;
}

@keyframes circle1 {
  from {
    transform: rotate(0deg) translate(-15px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-15px) rotate(-360deg);
  }
}

@keyframes circle2 {
  from {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@keyframes circle3 {
  from {
    transform: rotate(0deg) translate(-18px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-18px) rotate(-360deg);
  }
}

@keyframes circle4 {
  from {
    transform: rotate(0deg) translate(-18px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(-18px) rotate(360deg);
  }
}

@keyframes circle5 {
  from {
    transform: rotate(0deg) translate(-20px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-17px) rotate(-360deg);
  }
}

@keyframes circle6 {
  from {
    transform: rotate(0deg) translate(-15px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(-15px) rotate(360deg);
  }
}

@keyframes circle7 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(-30px) rotate(360deg);
  }
}
