.container-section {
  height: 100vh;
  background-color: #ffb591;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.container-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* height: 80vh; */
}

.card {
  /* margin: 2%; */
  background: #c58b8b;
  width: 200px;
  /* height: 100px; */
  height: 100%;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: .2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  /* padding-top: 30px; */
  border-radius: 10px;
  position: relative;
}

.card > div {
  display: block;
  margin: auto;
  /* max-width: 40px; */
}

.container:hover .card {
  filter: blur(3px);
  opacity: .5;
  transform: scale(.98);
  box-shadow: none;
}

.container:hover .card:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  background: #A82C2C;
  color: white;
}