.card-container {
    width: 40vw;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8040;
    border-radius: 10px;
}

.card-container h3 {
    width: fit-content;
    text-align: center;
}

.button {
    background-color: #ff8080;
    border-radius: 8px;
    padding: 2%;
    border: none;
}

.button:hover {
    background-color: #ff5e5e;
}

.project-container {
    background-color: white;
    border-radius: 10px;
    width: min(15rem, 15%);
}

.project-description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.project-container img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.link-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button-link {
    background-color: magenta;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 5px 10px;
}

.versions {
    width: 100%;
    text-align: left;
}