.card-container {
    width: 40vw;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff8040;
    border-radius: 10px;
}

.card-container h3 {
    width: fit-content;
    text-align: center;
}

.button {
    background-color: #ff8080;
    border-radius: 8px;
    padding: 2%;
    border: none;
}

.button:hover {
    background-color: #ff5e5e;
}